.searchResultsList .scroll-bar:horizontal, .searchResultsList .scroll-bar:vertical {
    
    -fx-background-color: transparent;
    
}

.searchResultsList .scroll-bar:horizontal .increment-button, .searchResultsList .scroll-bar:horizontal .decrement-button {
    
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0;
    
}

.searchResultsList .scroll-bar:horizontal .increment-arrow, .searchResultsList .scroll-bar:horizontal .decrement-arrow {
    
    -fx-shape: "";
    -fx-padding: 0;
    
}

.searchResultsList .scroll-bar:horizontal .thumb, .searchResultsList .scroll-bar:vertical .thumb {
    
    -fx-background-color: rgb(128, 128, 128);
    
}

.mainFxmlClass {
    
    #pane {
    
        -fx-background-size: 600 480;
        -fx-background-radius: 0 0 10 10;
        -fx-border-radius: 0 0 10 10;
        -fx-background-color: #303030;
        
    }
    
}

.mainFxmlClass .tab-header-area .tab-header-background {
    
    -fx-background-color:#212121 !important;
    
}

.mainFxmlClass .tab-header-area .tab-selected-line {
    
    -fx-background-color: #FF3F80 !important;
    
}

.mainFxmlClass .tab-header-area .jfx-rippler {
    
    -jfx-rippler-fill: #FF3F80;
    
}