.searchResultsList .scroll-bar:horizontal, .searchResultsList .scroll-bar:vertical {
    
    -fx-background-color: transparent;
    
}

.searchResultsList .scroll-bar:horizontal .increment-button, .searchResultsList .scroll-bar:horizontal .decrement-button {
    
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0;
    
}

.searchResultsList .scroll-bar:horizontal .increment-arrow, .searchResultsList .scroll-bar:horizontal .decrement-arrow {
    
    -fx-shape: "";
    -fx-padding: 0;
    
}

.searchResultsList .scroll-bar:horizontal .thumb, .searchResultsList .scroll-bar:vertical .thumb {
    
    -fx-background-color: rgb(128, 128, 128);
    
}
